%div{name:"nav"}
  %h1 this is header
= link_to 'Start Page', root_path , class: "btn btn-success"
= link_to 'All Homes', homes_path, class: "btn btn-warning"

%button.btn.btn-large Push it

/　複数のクラス名は基本的にhtmlタグにドットで連続させて記述。また、rubyでの記述をする際には
/   クラス名をhashオブジェクトとして記述する。
